* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #011627;
}

.header {
    font-family: Roboto, sans-serif;
    background-color: #011627;
    color: #FFF;
    box-shadow: 0 0 8px rgb(255 255 255 / 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

.container-score {
    background-color: #fdfffc;
    color: #000;
    border-radius: 0.5em;
    border: 1px solid #FFF;
    width: 8em;
    height: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.header-score {
    margin: 0.5em 0;
    text-transform: capitalize;
}

.logo-title {
    text-transform: uppercase;
}

.choices {
    background-color: #fdfffc;
    height: 8em;
    width: 95%;
    margin: 8em auto;
    border-radius: 1em;
    border: solid #fff 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn-choice {
    height: 2.5em;
    width: 8em;
    border-radius: 0.5em;
    border: #e71d36 solid;
    background-color: #FDFFFC;
    color: #E71D36;
    text-transform: capitalize;
    font-size: 1em;
    font-weight: 700;
    transition: all 0.5s;
    cursor: pointer;
}

.btn-choice:hover {
    background-color: #E71D36;
    color: #FDFFFC;
    transition: all 0.5s;
}